<section class="container">
    <h1 class="display-2 text-center py-4">Gestion de Tickets</h1>
    <div class="row">
      <div class="col-12 col-md-4 col-lg-4 col-xs-4 border border-success">
        <h3 class="bg-success text-center text-white">Resumen</h3>
        <p>Extranjeros: {{cantExtranjero}}</p>
        <p>Local: {{cantLocal}}</p>
        <p>Total: ${{total | number:'1.2'}}</p>
      </div>
      <div class="col-12 col-md-8 col-lg-8 col-xs-8">
        <h3 class="bg-success text-center text-white">Compra de Ticket</h3>
        <div class="pb-4">
          <form>
            <div class="mb-3">
              <label for="tipoEspectador" class="form-label">Tipo de Espectador</label>
              <select class="form-select" aria-label="Default select example" id="tipoEspectador" name="tipoEspectador" [(ngModel)]="ticket.tipoEspectador" (change)="calcularTotal()">
                <option selected>Seleccione el tipo de especador</option>
                <option value="l">Local</option>
                <option value="e">Extranjero</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="precioReal" class="form-label">Precio Real</label>
              <input type="number" class="form-control" id="precioReal" name="precioReal" [(ngModel)]="ticket.precioReal" (change)="calcularTotal()">
            </div>
            <div class="mb-3">
              <label for="dni" class="form-label">DNI</label>
              <input type="number" class="form-control" id="dni" name="dni" [(ngModel)]="ticket.dni">
            </div>
            <div class="mb-3">
              <label for="fechaCobro" class="form-label">Fecha Cobro</label>
              <input type="date" class="form-control" id="fechaCobro" name="fechaCobro" [(ngModel)]="ticket.fechaCobro">
            </div>
            <div class="mb-3 form-check" *ngIf="ticket.precioReal && ticket.tipoEspectador && ticket.precioCobrado">
              <label class="form-check-label">Total: ${{ticket.precioCobrado | number:'1.2'}}</label>
            </div>
            <button type="submit" class="btn btn-primary" (click)="registrarTicket()" *ngIf="!ticket.id">
              Registrar
            </button>
            <button type="submit" class="btn btn-primary" (click)="actualizarTicket()" *ngIf="ticket.id">
              Actualizar
            </button>
          </form>
        </div>
      </div>
    </div>
    
    <div class="tickets-container">
      <h3 class="text-center" *ngIf="ticketsVendidos.length === 0">No hay tickets vendidos aún</h3>
      <table datatable class="table" *ngIf="ticketsVendidos.length !== 0">
        <thead>
          <tr>
            <th>ID</th>
            <th>DNI</th>
            <th>Tipo Espectador</th>
            <th>Precio Real</th>
            <th>Precio Cobrado</th>
            <th>Fecha Compra</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of ticketsVendidos">
            <td>{{t.id}}</td>
            <td>{{t.dni}}</td>
            <td>{{t.tipoEspectador  | tipoEspectador}}</td>
            <td>${{t.precioReal | number:'1.2'}}</td>
            <td>${{t.precioCobrado | number:'1.2'}}</td>
            <td>{{t.fechaCobro | date: 'dd/MM/yyyy'}}</td>
            <td><button class="btn btn-primary" (click)="mostrarTicket(t)">Editar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    
</section>