<section class="container">
    <h1 class="display-2 text-center">Compra de Ticket</h1>
    <div class="form">
      <form>
        <div class="mb-3">
          <label for="tipoEspectador" class="form-label">Tipo de Espectador</label>
          <select class="form-select" aria-label="Default select example" id="tipoEspectador" name="tipoEspectador" [(ngModel)]="ticket.tipoEspectador">
            <option selected>Seleccione el tipo de especador</option>
            <option value="l">Local</option>
            <option value="e">Extranjero</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="precioReal" class="form-label">Precio Real</label>
          <input type="number" class="form-control" id="precioReal" name="precioReal" [(ngModel)]="ticket.precioReal">
        </div>
        <div class="mb-3">
          <label for="dni" class="form-label">DNI</label>
          <input type="number" class="form-control" id="dni" name="dni">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    
    
</section>