<section class="container board" *ngIf="jugando && !gameOver">
    <h3 class="title">Cuantas <span class="text-primary text-uppercase">{{modoJuego}}</span> hay en la palabra: <span class="text-success text-uppercase">{{palabraActual}}</span></h3>
    <h3 class="rounds">Ronda: {{rondaActual}}</h3>
    <div class="row pt-5 d-flex justify-content-around align-items-center">
        <button class="btn btn-primary col-5 m-1 p-5" *ngFor="let op of opciones" (click)="comprobarOpcion(op)" data-bs-toggle="modal" data-bs-target="#mensajeModal">{{op}}</button>
    </div>
</section>

<section class="container board" *ngIf="!jugando">
    <h3 class="title">Cuenta letras</h3>
    <div class="d-flex justify-content-center align-items-center">
        <button class="btn btn-success" (click)="iniciarJuego()">Jugar</button>
    </div>
</section>

<section class="container board" *ngIf="gameOver">
  <h3 class="title">El Juego termino</h3>
  <div class="d-flex justify-content-center align-items-center">
      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#mensajeModal">Ver Resultados</button>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="mensajeModal" tabindex="-1" aria-labelledby="mensajeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="text-center display-4">
          {{mensaje}}
        </h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" *ngIf="gameOver" (click)="reiniciarJuego()">Jugar otra vez</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" *ngIf="!gameOver" (click)="aumentarRonda()">Continuar</button>
      </div>
    </div>
  </div>
</div>